html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .search_box p
{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

body 
{
	line-height:1.5;
} 
blockquote:before, blockquote:after, q:before, q:after 
{
	content:"";
}
blockquote, q 
{
	quotes:"" "";
}
a img 
{
	border:none;
}

p {
	padding-top:1.0em;
	padding-bottom:1.0em;
}

.textwidget p:empty
{
	display: none;
}

/*
	Global Layout
*/

@font-face {
    font-family: 'Gnuolane';
    src: url('../fonts/gnuolane_free-webfont.eot');
    src: url('../fonts/gnuolane_free-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gnuolane_free-webfont.woff') format('woff'),
         url('../fonts/gnuolane_free-webfont.ttf') format('truetype'),
         url('../fonts/gnuolane_free-webfont.svg#GnuolaneFree') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background: #ffffff;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial,Verdana,sans-serif;
	padding: 0;
	margin: 0;
	color: #666;
}

a
{
	color: #404040;
	text-decoration: none;
}

a:hover
{
	color: #666;
	text-decoration: none;
}

a:active
{
	color: #cccccc;
	text-decoration: none;
}

.alignright {float:right; margin:0 0 1em 1em}
.alignleft {float:left; margin:0 1em 1em 0}
.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignleft.social { margin-top: 5px; }

hr
{
	height: 1px;
	border: 0;
	border-top: 1px solid #ebebeb;
	background: transparent;
	margin: auto;
	width: 100%;
}
pre, code, tt {font:13px 'andale mono', 'lucida console', monospace;line-height:1.5;padding: 20px;display: block; overflow: auto; margin-top: 20px;
margin: 0 0 20px 0;
width:92%;
background: #fff;
	border: 0;
	color: #666;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

h1, h2, h3, h4, h5, h6
{
	color: #000000;
	letter-spacing: 0px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Gnuolane';
}

label
{
	color: #333;
	letter-spacing: 0px;
	font-weight: bold;
}

label.error
{
	color: #DC6E49;
	font-weight: bold;
}

h1
{
	font-size: 30px;
	display: block;
	background: transparent url("../images/line_shadow.png") repeat-x center 22px;
}

h2
{
	font-size: 26px;
}

h3
{
	font-size: 24px;
}

h4
{
	font-size: 22px;
}

h5
{
	font-size: 20px;
}

.page_header
{
	font-size: 20px;
}

h1 span, h5 span
{
	background: #fff;
	padding-right: 10px;
}

h1 a, h5 a
{
	color: #000000;
}

h1 span a span, h2.widgettitle span a span, h5 span a span
{
	padding-right: 0;
	background: transparent;
}

h6
{
	font-size: 18px;
}
/*
	Input layout
*/

input[type=text], input[type=password], select
{
	padding: 8px;
	font-size: 12px;
	margin: 0;
	padding-top: 8px;
	border: 1px solid #dddddd;
	background: #fff;
	font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
	color: #666;
}

input[type=text]#s
{
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

input[type=text].blur, textarea.blur
{
	color: #ccc;
	font-style: italic;
}

textarea
{
	background: #fff;
	padding: 3px 5px 3px 5px;
	font-size: 12px;
	color: #666;
	margin: 0;
	border: 1px solid #dddddd;
	height: 200px;
	overflow: auto;
	font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
	padding-top: 8px;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover
{
	border: 1px solid #999999;
}

input[type=submit], input[type=button], a.button, a.button:hover, a.button:active
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px Arial, sans-serif;
	padding: .65em 2em .65em 2em;
	color: #fff;
	font-weight: bold;
	border: solid 1px #272625;
	background: #272625;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#272625));
	background: -moz-linear-gradient(top,  #444444,  #272625);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#272625');
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

input[type=submit], input[type=button]
{
	padding: 8px 15px 8px 14px;
}

a.button
{
	float: left;
}

a.button span
{
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	display: block;
}

input[type=submit]:active, input[type=button]:active
{
	position: relative;
	top: 1px;
	left: 1px;
}
/**
 * Style Content
 */

.black
{
	color: #000;
}

.clear
{
	clear: both;
}

.header_wrapper
{
	width: 100%;
	height: 8px;
	margin: auto;
	background: #e16020;
	margin-bottom: 24px;
}

.standard_wrapper
{
	width: 960px;
	margin: auto;
}

.standard_wrapper.header
{
	margin-bottom: 0px;
}
.logo
{
	float: left;
	margin: -1px 0 25px 3px;
}

.header_ads
{
	float: right;
}
.ads468
{
	width: 468px;
	height: 60px;
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	float: left;
	font-size: 11px;
	color: #ccc;
}

.ads468 div.text
{
	position: relative;
	top: 38%;
	text-align: center;
	width: 100%;
}

.main_nav ul, .main_nav
{
	list-style: none;
	margin: auto;
	width: 960px;
	height: 49px;
	float:left;
	background: transparent url('../images/grey_menu_bg.png') top repeat-x;
	z-index: 999;
	border-bottom: 1px solid #dddddd;
}

.main_nav ul li,  .main_nav li
{
	display: block;
	float :left;
	margin: 0;
}

.main_nav ul li a,  .main_nav li a
{
	display: block;
	float :left;
	margin: 0 0 0 0;
	padding: 13px 25px 12px 25px;
	color: #404040;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #dddddd;
	font-family: 'Gnuolane';
	text-transform: uppercase;
	font-size: 16px;
}

.main_nav ul > li:first-child a,  .main_nav > li:first-child a
{
	border-left: 0;
}

.main_nav ul > li:last-child a,  .main_nav > li:last-child a
{
	padding: 13px 25px 12px 25px;
	padding-right: 0;
	width: 1px;
	height: 25px;
	border-right: 0;
}

.main_nav ul li ul li:last-child a,  .main_nav li ul li:last-child a, .main_nav ul li ul li a,  .main_nav li ul li a
{
	width: 160px;
	padding: 10px 19px 10px 21px;
	border: 0;
	border-bottom: 1px solid #dddddd;
	font-size: 14px;
}

.main_nav ul li ul li:last-child a,  .main_nav li ul li:last-child a
{
	border-bottom: 0;
}

.main_nav ul li a:hover,  .main_nav li a:hover, .main_nav ul li a.hover,  .main_nav li a.hover, .main_nav ul li a:active,  .main_nav li a:active
{
	background: #fff;
}

.main_nav li:last-child a:hover, .main_nav li:last-child a.hover
{
	background: none;
	border-right: 0;
}

.main_nav li ul li a,  .main_nav li.current-menu-item ul li a,#menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a,
{
	display: block;
	width: 170px;
	line-height: 0.7em;
	padding: 5px 0 5px 30px;
	font-size: 12px;
}

.main_nav li ul li a:hover,  .main_nav li.current-menu-item ul li a:hover, .main_nav li ul li a.hover,  .main_nav li.current-menu-item ul li a.hover, #menu_wrapper .nav ul li.current-menu-item ul li a:hover, #menu_wrapper .nav ul li ul li.current-menu-item a:hover, .main_nav li ul li:last-child a:hover, .main_nav li ul li:last-child a.hover
{
	background: transparent url('../images/grey_menu_bg.png') top repeat-x;
}

#content_wrapper
{
	width: 960px;
	margin: auto;
	margin-top: -51px;
	padding-top: 51px;
	padding-bottom:20px;
	background: transparent url('../images/body_bg.png') repeat;
	border: 1px solid #dddddd;
	z-index: 1000;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	min-height: 320px;
}
#content_wrapper .inner_wrapper.fullwidth
{
	padding-top: 12px;
}
.page_fullwidth
{
	margin: 25px 0 0 10px;
}

.footer_wrapper
{
	width: 100%;
}
#footer 
{
	padding: 0;
	width: 960px;
	margin: auto;
	font-size: 11px;
	margin-top: 0;
	left: 0px;
	position: relative;
}
#copyright
{
	width: 960px;
	margin: auto;
	padding: 15px 0 50px 0;
	font-size: 11px;
	margin: auto;
	border-top: 1px solid #ebebeb;
}

#copyright_left
{
	width: 400px;
	float: left;
}

#copyright .social_wrapper
{
	width: 400px;
	float: right;
}

#copyright .social_wrapper ul
{
	list-style: none;
}

#copyright .social_wrapper ul li
{
	float: right;
	margin-left: 5px;
}

#copyright .social_wrapper ul li img
{
	width: 24px;
}

/**
 * Style Content Inline
 */
.sidebar_content
{
	width: 650px;
	float: left;
	padding: 15px 0 0 10px;
}
.post_wrapper
{
	width: 620px;
	margin: 0 0 25px 7px;
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.post_wrapper:last-child
{
	padding-bottom: 20px;
}
.post_inner_wrapper
{
	width: 570px;
	margin: auto;
	margin-top: -23px;
	margin-bottom: 15px;
}
.post_header_wrapper
{
	width: 450px;
	float: left;
}
.post_header
{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.post_header h2 a
{
	color: #000;
}

.post_detail
{
	font-size: 11px;
	word-spacing: 1px;
	margin-top: -10px;
	color: #ccc;
	font-family: Georgia,Times,"Times New Roman",serif;
}
.post_img_date
{
	padding: 5px;
	background: #000;
	position: relative;
	top: -60px;
	left: 7px;
	width: 150px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 0 #fff;
	text-align: center;
}

.post_header .post_comment
{
	float: right;
	margin: 10px 0 0 0;
	font-size: 11px;
	padding: 5px 15px 5px 15px;
	text-align: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #ebebeb;
 	-webkit-box-shadow: 0 1px 3px #ebebeb;
 	box-shadow: 0px 1px 3px #ebebeb;
 	background: #cccccc url("../images/bt_g.png") repeat-x top;
	text-align: left;
	text-shadow: 0 1px 1px #fff;
	border: 1px solid #ccc;
}
.sidebar_wrapper
{
	width: 280px;
	float: right;
	margin: 0;
	padding: 0 0 0 0;
	margin: 15px 15px 0 0;
}
.sidebar
{
	width: 100%;
	float: right;
}

.sidebar .content
{
	margin: 0;
}

.sidebar .content .sidebar_widget
{
	list-style: none;
}

.sidebar_widget
{
	list-style: none;
	margin-left: 0;
}

.sidebar .content .sidebar_widget > li
{
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
.sidebar .content .sidebar_widget > li {
	background: white;
	border: 1px solid #DDD;
	margin: 0px 0px 20px;
}
.sidebar .content .sidebar_widget > li.widget_search
{
	background: transparent;
	border: 0;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
	padding-bottom: 0;
	margin-bottom: 16px;
}
form#searchform
{
	width: 95%;
}
.sidebar .content .sidebar_widget li form#searchform div
{
	width: 99.9%;
}
.sidebar .content .sidebar_widget li form#searchform input[type=text]
{
	width: 100%;
	margin: 0 0 5px 0;
}
label.screen-reader-text
{
	display: none;
}
input[type=text]#s
{
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
	padding-top:7px;
	padding-bottom: 7px;
	text-indent:5px;
}
input[type=text].blur
{
	color: #ccc;
	font-style: italic;
}
input[type=text]:hover
{
	border: 1px solid #999999;
}
#searchsubmit
{
	display: none;
}
.sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle
{
	color: #fff;
	display: table;
	background: #e16020;
	width: auto;
	padding: 5px 10px 5px 10px;
	font-family: "Gnuolane";
	font-size: 14px;
	text-transform: uppercase;
}
.sidebar .content .sidebar_widget li h2.widgettitle{
	margin: 15px 0 5px 15px;
}
.sidebar_content h2.widgettitle{
	margin: 0 0 15px 15px;
}
h2.widgettitle.header
{
	font-size: 22px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	margin-left: 7px;
}
.sidebar .content .sidebar_widget li ul {
	margin: 15px 0px 0px 5px;
	list-style: none;
}
.sidebar .content .sidebar_widget li ul li {
	padding: 0px 0px 20px 10px;
}
.post_wrapper h2.widgettitle{
	margin: 15px 0 0px 5px;
	margin-left:15px;
}
.comment_inner
{
	width: 590px;
	margin: auto;
}
.comment_inner h2.widgettitle
{
	margin-left: 0px;
}
.comment_inner #respond h2.widgettitle
{
	margin-left: 0;
}